<div class="flex-column p-3 mb-2">
  <div class="flex gap-3 text-sm align-items-center">
    <p class="text-base">Filtar por:</p>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Cliente"
    ></p-dropdown>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Fecha del último mensaje"
    ></p-dropdown>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Tipo"
    ></p-dropdown>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Esperando respuesta desde"
    ></p-dropdown>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Crítico"
    ></p-dropdown>
  </div>
</div>
