<div class="flex-column p-3 mb-2">
  <div class="flex gap-3 text-sm align-items-center">
    <p class="text-base font-semibold">Filtrar por:</p>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Estado del pago"
    ></p-dropdown>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Creado"
    ></p-dropdown>
    <p-dropdown
      [options]=""
      optionLabel="label"
      placeholder="Fecha del ciclo de facturación"
    ></p-dropdown>
  </div>
</div>
