.rutemessage {
  color: rgb(139, 139, 139);
  text-decoration: none;
}

.custom-border-component{
  border: 2px solid #E5E6E7; 
}

.custom-border-left{
  border-left: 2px solid #E5E6E7;
}

.custom-border-bottom{
  border-bottom: 2px solid #E5E6E7;
}
